body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

}

header {
  padding: 20px 0;
}

.col-sm-8 {
  margin-left: 0.2em;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

#bulb {
  margin-top:0.2em;
  margin-bottom: 0.2em;
}

nav .btn-nav {
  font-family: "Roboto";
  font-size: 1.8em;
  margin-left: 0;
  display: inline-flex;
  white-space: nowrap;
}

nav .btn-nav:hover {
  color: rgb(0,0,0);
  opacity: 1 !important;

}

nav a {
	transform: 0.3s;
}

nav a:hover {
  text-decoration: none;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

.kurs:hover {
  
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1481627834876-b7833e8f5570?dpr=1&auto=compress,format&fit=crop&w=841&h=&q=80&cs=tinysrgb&crop=');
  background-size: cover;
  color: #ffffff;
  height: 400px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

.col-sm-6 {
  font-family: "Roboto";
  font-size: 2em;
  text-align: center;
  box-sizing: border-box;
}

.col-sm-6:hover {
  opacity: 0.93;
  box-sizing: border-box;
}


section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn-nav {
  border-radius: 2px;
  border: 0px;
  color: rgb(0,0,0);
  text-shadow: none;
  background-color: #FFF;
}

.btn-nav:hover {
	color: rgb(140,140,140);
}

.btn-secondary:hover {
  opacity: 0.9;
  color: #FFF !important;
}

.btn-secondary {
  background-color: rgb(117, 85, 79);
  color: rgb(256,256,256);
  margin: 0 0 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

footer {
  font-size: 1.5em;
  padding: 20px 0;
  border-radius: 2px;
  border: 0px;
  color: rgb(0,0,0);
  text-shadow: none;
  background-color: #FFF;
  margin-top: 3em;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}