body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

}

header {
  padding: 20px 0;
}

.col-sm-8 {
	margin-left: 0.2em;
}

.col-sm-3 {
    font-family: "Roboto";
    font-size: 2em;
    text-align: center;

}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

#bulb {
	margin-top:0.2em;
	margin-bottom: 0.2em;
}

.col-sm-4 {
	font-family: "Roboto";
	font-size: 1.8em;
	margin-left: 0;
	display: inline-flex;
	white-space: nowrap;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header nav p:hover {
	color: rgb(140, 140, 140);
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1489379391348-c9f07b42b696?dpr=1&auto=compress,format&fit=crop&w=1050&h=&q=80&cs=tinysrgb&crop=');
  background-size: cover;
  color: #ffffff;
  height: 300px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

.title {
  display: flex;
  white-space: nowrap;
  font-family: "Roboto", sans-serif;
  font-size: 3em;
  font-weight: normal;
}

.half-title {
  white-space: nowrap;
  display: inline-block;
  font-family: "Roboto", sans-serif;
}

.half-title-image {
  display: inline-block;
  white-space: nowrap;
  border: 1px solid black;
}

.col-sm-9 {
	  font-family: "Roboto";
	  font-size: 2em;
	  text-align: left;

}

.col-sm-12 {
    font-family: "Roboto";
    font-size: 2em;
    text-align: center;
}


.col-sm-6:hover {
	opacity: 0.93;
	box-sizing: border-box;
}


section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn-nav {
  border-radius: 2px;
  border: 0px;
  color: rgb(0,0,0);
  text-shadow: none;
  background-color: #FFF;
}

.btn-nav:hover {
	color: rgb(140,140,140);
}

.btn-secondary:hover {
  background-color: rgb(152, 110, 103);
  color: #FFF;
}

.btn-secondary {
  background-color: rgb(117, 85, 79);
  color: rgb(256,256,256);
  margin: 30px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}